{{template "base" .}}

{{define "header"}}
    <h1>Hello {{.Name}} {{.Surname}}!</h1>
{{end}}


{{define "main"}}
    <p>A {{.Gender}} from {{.City}}.</p>
    <p>Your are {{.Age}} and you like {{.Interests}}</p>
    <a href="/fill-form"><button>Edit my info</button></a>
{{end}}
