{{template "base" .}}

{{define "header"}}
    <h1>Hello {{.Name}} {{.Surname}}!</h1>
{{end}}


{{define "main"}}
    <p>You are a {{.Age}} years old {{.Gender}} from {{.City}} who likes {{.Interests}}</p>
    <a href="/fill-form"><button>Edit my info</button></a>
{{end}}
