{{template "base" .}}


{{define "header"}}
    <h1>Users</h1>
{{end}}

{{define "main"}}

    {{ range .}}
        <p>
            <a href="user/{{.ID}}">{{.Name}} - {{.Surname}}</a>
            {{if .IsFriend}}
                <form action="friend-remove/{{.ID}}" method="post">
                    <input type="submit" value="Remove Friend ❌">
                </form>
            {{else}}
                <form action="friend-add/{{.ID}}" method="post">
                    <input type="submit" value="Add Friend ✅">
                </form>
            {{end}}
        </p>
    {{end}}
{{end}}
