{{template "base" .}}

{{define "header"}}
    <h1>User form</h1>
    <h2>Please fill your data</h2>
{{end}}


{{define "main"}}
    <form action="update-user-info" method="post" class="pure-form pure-form-stacked">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{.Name}}">

            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" value="{{.Surname}}">

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{.Age}}">

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="Man">👨</option>
                <option value="Woman">🙋‍♀️</option>
                <option value="Apache Helicopter">🚁</option>
            </select>

            <label for="interests">Interests:</label>
            <input type="text" name="interests" id="interests" value="{{.Interests}}">

            <label for="City">City:</label>
            <input type="text" id="City" name="city" value="{{.City}}">

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </fieldset>
    </form>
{{end}}
