{{template "base" .}}

{{define "header"}}
    <h1>User</h1>
{{end}}


{{define "main"}}
    <p>Hi 👋</p>
    <p>I'm {{.Name}} {{.Surname}} from {{.City}}.</p>
    <p>I'm {{.Age}} and I like {{.Interests}}.</p>
{{end}}
