{{template "base" .}}


{{define "header"}}
    <h1>Users</h1>
{{end}}

{{define "main"}}
    <form action="users" method="get" class="pure-form">
        <fieldset>
            <label for="username"></label>
            <input type="text" id="user" name="user" placeholder="Ivan Petrov" value="{{.UserQuery}}">
            <button type="submit" class="pure-button pure-button-primary">Search</button>
        </fieldset>
    </form>
    {{ range .Users}}
        <p>
            <a href="user/{{.ID}}">{{.Name}} - {{.Surname}}</a>
            {{if .IsFriend}}
                <form action="friend-remove/{{.ID}}" method="post">
                    <input type="submit" value="Remove Friend ❌">
                </form>
            {{else}}
                <form action="friend-add/{{.ID}}" method="post">
                    <input type="submit" value="Add Friend ✅">
                </form>
            {{end}}
        </p>
    {{end}}
{{end}}
